[Desktop Entry]
Version=1.0
Type=Application
Name=close
Comment=
Exec=/home/p/.local/bin/altf4
Icon=xfce-wm-close
Path=
Terminal=false
StartupNotify=false
